accessible-pygments==0.0.4
alabaster==0.7.13
angles==1.15.0
Babel==2.15.0
cppcheck==0.0.0
domain-coordinator==0.10.0
empy==3.3.4
h11==0.14.0
image-geometry==3.2.1
imagesize==1.4.1
isodate==0.6.1
Jinja2==3.0.3
linkify-it-py==2.0.3
logging-demo==0.20.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdit-py-plugins==0.4.1
mdurl==0.1.2
message-filters==4.3.2
munkres==1.1.4
myst-parser==3.0.1
numpy==1.26.0
opencv-python==4.6.0
pcl-msgs==1.0.0
pendulum-msgs==0.20.3
ply==3.11
pycairo==1.25.0
pydata-sphinx-theme==0.14.4
pyftdi==0.55.0
python-engineio==4.8.0
python-qt-binding==1.1.1
python-socketio==5.10.0
pytz==2024.1
rdflib==7.0.0
requests==2.31.0
resource-retriever==3.1.1
simple-websocket==1.0.0
soupsieve==2.5
SPARQLWrapper==2.0.0
Sphinx==7.1.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
uc-micro-py==1.0.3
urllib3==2.1.0
vtk==9.2.2
webcolors==1.13
websocket-client==1.6.4
wsproto==1.2.0
